{% extends "./base.html" %}

{% block contenido %}
<div class="container mt-4">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for pastel in pasteles %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="text-center">
                <h2>{{ pastel.name }}</h2>
                <p>{{ pastel.description }}</p>
            </div>
                <img src="{{ pastel.image_url }}" class="d-block w-100" alt="Imagen de {{ pastel.name }}">
                <div class="carousel-caption d-none d-md-block text-dark">
                   
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>
{% endblock %}



